{% extends 'basic.twig' %}
{% block title %}Administration - Opérations | {{ parent() }}{% endblock %}
{% block body %}
<div class="col-md-12 mt-4">
    <a href="/admin/operations/sendsms">Envoyer un sms de test</a>
</div>
{% endblock %}
