{% extends 'basic.twig' %}
{% block title %}Login |
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="mt-4">
            {% for message in messages %}
                <div class="alert alert-{{message.level}}" role="alert">{{message.message}}</div>
            {% endfor %}
            <div class="card mt-2">
                <div class="card-body">
                    <a href="/auth/github">Login with GitHub</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
