<!doctype html>
<html class="h-100" lang="fr">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <title>Azure - home</title>
        <!-- Bootstrap core CSS -->
        <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" integrity="sha256-5U3z9K3P17cKgGYxXQA5rBZO5EDju+lgtXG6oDXNbNY=" rel="stylesheet"/>
    </head>
    <body
        class="d-flex flex-column h-100">
        <!-- Begin page content -->
        <main class="flex-shrink-0" role="main">
            <div class="container">
                <h1 class="mt-5">home</h1>
                <a href="/azure/containers"> Containers </a>
            </div>
        </main>
    </body>
</html>
